body {
    background-color: aquamarine;
    font-family:Verdana, Tahoma, sans-serif;
    color: darkblue;
}

header {
    color: white;
    background-image: url(../assets/portfolio-header.jpg);
    padding: 20px 20px 20px;
}

header h1 {
    text-align: left;
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

header nav ul li a {
    color: white;
}

header h2 {
    color: darkcyan;
    background-color: white;
    padding: 20px 20px 20px;
    text-align: right;
}

main h3 {
    color: darkblue;
    display: block;
    margin-left: 100px;
}

