/*general design settings*/

body {
    background-color: aquamarine;
    font-family: Verdana, Tahoma, sans-serif;
    color: darkblue;
    line-height: 150%;
}

/*header/heading and image settings*/

header {
    color: white;
    background-image: url(../assets/portfolio-header.jpg);
    padding: 20px 20px 20px;
    text-align: center;
}

img {
    height: 200px;
    justify-content: center;
    border-radius: 15px;
}

h1 {
    padding: 20px;
    font-size: 200%;
}

/*navigation links*/

header nav ul {
    list-style-type: none;
    display: flex;
    background-color: darkblue;
    justify-content: space-between;
    padding: 20px;
}

header nav ul li a {
    color: white;
}

/* content area flexbox code, consolidated when possible */

.about-me, .work, .contact-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.about-me h3, .work h3, .contact-info h3 {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.about-me p {
    flex: 4;
}

.work ul, .contact-info ul {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    justify-content: space-between;
}

.work ul a img:hover {
    background-color: darkblue;
    padding: 15px;
}

/*footer design elements*/

footer {
    text-align: center;
    font-size: 75%;
    color: white;
    background-color: darkblue;
    padding: 20px 20px 20px;
}